<html>
    <head>
        <title>
           
        </title>
        <h1>
            登入頁面
        </h1>
    </head>
    <body>
        <form method = 'post' id = 'login' onsubmit="return false;">
            帳號：<input type = 'text' name = 'account' id = 'account'/>
            <input type = 'submit' id = 'sub'/>
        </form>
    </body>
        <script src = 'https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js' ></script>

    <script src = "js/se_login.js">
    </script>
</html>