<html>
    <head>
        <title>
           
        </title>
        <h1>
            賣家頁面
        </h1>
    </head>
    <body>
        <!-- 新增商品 -->
        <form method = 'post' id = 'login' onsubmit="return false;">
            要新增的商品價格：<input type = 'text' name = 'price' id = 'price'/>
            <input type = 'submit' id = 'sub'/>
        </form>
        
        <!-- 結標商品 -->
        <table border = '2' id = 'obj_pos'>
            <tr>
                <td colspan = '6'>未售出之商品</td>
            </tr>
            <tr>
                <td>商品編號</td>
                <td>商品原始價格</td>
                <td>目前最高標</td>
                <td>開始出售</td>
                <td>開始競標</td>
                <td>確認結標</td>
            </tr>
        </table>
        
        <!-- history sells -->
        <table border = '2' id = 'seller_his'>
            <tr>
                <td colspan = '2'>歷史售出紀錄</td>
            </tr>
            <tr>
                <td>商品編號</td>
                <td>商品售出價格</td>
            </tr>
        </table>
    </body>
    <style>
        td {
             text-align : center;
        }
    </style>
    <script src = 'https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js' ></script>
    <script src="js/se_seller.js">
    </script>
</html>